<!-- TASK COMMENTS -->
<div class="form-group">
    <div class="col-md-12">
        <ul class="media-list comment_list">
        </ul>
    </div>
</div>
<!-- END TASK COMMENTS -->
<!-- TASK COMMENT FORM -->
<div class="form-group">
    <div class="col-md-12">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="javascript:void(0)">
                    <div class="media-object patientAvatar pull-left comment_current_user_avatar" src="" width="27px" height="27px"></div>
                </a>
                <div class="media-body comments_container">
                    <textarea class="form-control text_comment comment_mention" rows="4" placeholder="Type comment..."></textarea>
                    <button type="button" class="pull-right btn blue btn-outline make_comment mt-10px mb-5">Add comment</button>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END TASK COMMENT FORM -->