<div class="text-center task_status_container">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn blue {{ el_class }} status_action_1" data-status="1">
            <input type="radio" class="toggle status_action"> Pending
        </label>
        <label class="btn blue {{ el_class }} status_action_2" data-status="2">
            <input type="radio" class="toggle status_action"> In progress
        </label>
        <label class="btn blue {{ el_class }} status_action_3" data-status="3">
            <input type="radio" class="toggle status_action"> Completed
        </label>
    </div>
</div>