<li class="dropdown dropdown-extended dropdown-notification" id="header_task_bar">
    <a href="javascript:;" class="dropdown-toggle"
       data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
        <i class="icon-bell"></i>
        <span class="badge badge-success badge_tasks" style="display: none"></span>
    </a>
    <ul class="dropdown-menu extended tasks">
        <li class="external">
            <h3>You have
                <span class="bold"><strong class="badge_tasks_inside"></strong> pending</span> tasks</h3>
            <a href="javascript:;" class="task_mark_all_as_read">Mark all as read</a>
        </li>
        <li>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 275px;">
                <ul class="dropdown-menu-list scroller task_header_list" style="height: 275px; overflow: hidden; width: auto;"
                    data-handle-color="#637283" data-initialized="1">
                </ul>
                <div class="slimScrollBar"
                     style="background: rgb(99, 114, 131); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 147.994px;"></div>
                <div class="slimScrollRail"
                     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </li>
    </ul>
</li>