<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption" data-toggle="collapse"
             data-target=".todo-project-list-content-tags">
            <span class="caption-subject font-green-sharp bold uppercase"
                  style="cursor: pointer;">Classification </span>
            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view</span>
        </div>
        <div class="actions">
            <div class="actions">
            </div>
        </div>
    </div>
    <div class="portlet-body todo-project-list-content todo-project-list-content-tags"
         style="height: auto;">
        <div class="todo-project-list">
            <ul class="nav nav-pills nav-stacked">
                <li class="badge_info_classification" data-filter-id="filter_by_created_by">
                    <a href="javascript:;" class="badge_info_mine font-dark badge_info_item"></a>
                </li>
                <li class="badge_info_classification" data-filter-id="filter_by_assigned_to">
                    <a href="javascript:;" class="badge_info_assigned font-dark badge_info_item"></a>
                </li>
                <li class="badge_info_classification" data-filter-id="filter_by_unassigned">
                    <a href="javascript:;" class="badge_info_unassigned font-dark badge_info_item"></a>
                </li>
                <li class="badge_info_classification" data-filter-id="filter_by_archived">
                    <a href="javascript:;" class="badge_info_archived font-dark badge_info_item"></a>
                </li>
                <li>
                    <a href="javascript:;" class="badge_info_mentions font-dark"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
