<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <form class="search-form" method="GET">
            <div class="input-group">
                <input type="text" class="form-control input-sm search_task" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit search_task_submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>
    </div>
    <div class="portlet-body">
        <!-- BEGIN: Task list -->
        <div class="todo-tasklist">
        </div>
        <!-- END: Task list -->
    </div>
</div>
